/* Background of pages */
body {
    background-color: var(--color-background);
}

/* Small Header Text */
h2, h3, h4, h5 {
    color: var(--color-small-header);
}

p {
    color: var(--color-basic-text);
}

/* Header Text */
h1 {
    color: var(--color-large-header);
    background-color: var(--color-large-header-background);
    padding: var(--padding-small);
}

/* Link Text Color */
a {
    color: var(--color-link-text);
}

/* Tables */
table {
    background-color: var(--color-table);

    th, td {
        color: var(--color-basic-text);
        padding: var(--padding-medium);
    }
}