/* Icons */
svg.icon {
    display: inline;
    height: 2em;
    width: 2em;
    vertical-align: middle;
    fill: var(--color-background);
    color: var(--color-background);
}

/*Background of pages*/
body {
    background-color: var(--color-background);
    font-family: var(--font-family-body);
}

/* Small Header Text */
h2, h3, h4, h5 {
    color: var(--color-small-header);
}

/* Descript list title */
dt {
    color: var(--color-small-header);
}
/* Description list elements text */
dd {
    color: var(--color-basic-text);
}

p {
    color: var(--color-basic-text);
}

/* Header Text */
h1 {
    color: var(--color-large-header);
    background-color: var(--color-large-header-background);
    padding: var(--padding-small);
    font-family: var(--font-family-display);
}

/* Link Text Color */
a {
    color: var(--color-link-text);
}

/* Tables */
table {
    background-color: var(--color-table);

    th, td {
        color: var(--color-basic-text);
        padding: var(--padding-medium);
    }
}