
/* CSS for trips.html specific styling */

.trip-section-block {
    margin-bottom: var(--margin-tiny);
    display: contents;
}

/* old (pre-lab 7) */
.trip-section-block > dt {
    grid-column: 1 / 3;
    margin-left: var(--margin-small);
}

/* new for slots (lab 7) */
.trip-section-block > span {
    grid-column: 1 / 3;
    margin-left: var(--margin-small);
}

.trip-section-block > ul {
    grid-column: 3 / 5;
}